<div *ngIf="folder">

  <!-- <h2>{{folder.name | uppercase}} Details</h2>
  <div><span>id: </span>{{folder.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="folder.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <p>Dossiers :</p>
    <ul class="folders">
      <li *ngFor="let folder of folders">
          <span class="badge">{{folder.id}}</span> {{folder.name}}
        <button class="delete" title="delete folder"
          (click)="delete(folder)">x</button>
      </li>
    </ul>
  </div>
  <div>
    <p> Fichiers :</p>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button> -->

</div>